@charset "UTF-8";
@font-face {
  font-family: gotham;
  src: url(/assets/fonts/GothamSSm-Medium\(8\).otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "gotham";
}

li {
  list-style: none;
}

body {
  text-align: center;
}

.scroller {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

header {
  background: url(/assets/img/model-3.jpg) center/cover;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
  /***************** hidden-menu ***************/
  /***************** Section 1 *****************/
}
header .fixed-menu {
  width: 100%;
  padding: 20px 50px 0;
  position: fixed;
  z-index: 1000;
}
header .fixed-menu .menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
header .fixed-menu .menu img {
  width: 100px;
  float: left;
  cursor: pointer;
}
header .fixed-menu .menu .nav-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
header .fixed-menu .menu .nav-elements li {
  font-size: 0.9rem;
  cursor: pointer;
}
header .fixed-menu .menu .nav-elements li:hover {
  border-bottom: 1px solid #171a20;
}
header .fixed-menu .menu .nav-icon {
  text-align: right;
}
header .fixed-menu .menu .nav-icon i {
  padding-right: 5px;
  font-size: 1.1rem;
  transition: 0.2s;
}
header .fixed-menu .menu .nav-icon i:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 1200px) {
  header .fixed-menu .menu {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  header .fixed-menu {
    padding: 0;
  }
}
header .hidden-menu img {
  margin: 20px 50px;
  width: 100px;
  float: left;
  cursor: pointer;
}
header .hidden-menu .link-hidden-menu {
  margin: 20px 50px;
  background: rgba(0, 0, 0, 0.075);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  float: right;
}
header .hidden-menu .hidden-nav-links {
  padding-top: 70px;
  opacity: 0;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*position: absolute;*/
  top: 0;
  left: 0;
  transition: 0.2s ease;
}
header .hidden-menu .hidden-nav-links li {
  text-align: left;
  font-size: 1rem;
  padding: 20px 30px;
  font-weight: 100;
  width: 100%;
  cursor: pointer;
  position: relative;
}
header .hidden-menu .hidden-nav-links li .fa-angle-right {
  font-size: 0.9rem;
  position: absolute;
  right: 30px;
}
header .hidden-menu .mobile-menu {
  opacity: 1;
}
@media screen and (min-width: 1200px) {
  header .hidden-menu {
    display: none;
  }
}
header .section1 {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .section1 h2 {
  font-size: 2.5rem;
  font-weight: 100;
}
header .section1 .select-container {
  position: absolute;
  bottom: 50px;
}
header .section1 .select-container .select-buttons :nth-child(1) {
  background: #171a20;
  color: rgb(255, 255, 255);
  margin-right: 15px;
}
header .section1 .select-container .select-buttons button {
  width: 230px;
  font-size: 0.85rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
header .section1 .select-container p {
  font-size: 0.7rem;
  margin-top: 10px;
}
header .section1 .select-container p a {
  color: rgb(255, 255, 255);
}

.section2 {
  background: url(/assets/img/model-y.jpg) center/cover;
  height: 100vh;
  padding-top: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
}
.section2 .model-y h2 {
  font-size: 2.5rem;
  font-weight: 100;
}
.section2 .model-y p {
  font-size: 0.9rem;
}
.section2 .model-y p a {
  color: #171a20;
}
.section2 .select-container {
  position: absolute;
  bottom: 50px;
}
.section2 .select-container .select-buttons :nth-child(1) {
  background: #171a20;
  color: rgb(255, 255, 255);
  margin-right: 15px;
}
.section2 .select-container .select-buttons button {
  width: 230px;
  font-size: 0.85rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.section2 .select-container p {
  font-size: 0.7rem;
  margin-top: 10px;
}
.section2 .select-container p a {
  color: #171a20;
}

.section3 {
  background: url(/assets/img/model-s.jpg) center/cover;
  height: 100vh;
  padding-top: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
}
.section3 .model-s h2 {
  font-size: 2.5rem;
  font-weight: 100;
}
.section3 .model-s p {
  font-size: 0.9rem;
}
.section3 .model-s p a {
  color: #171a20;
}
.section3 .select-container {
  position: absolute;
  bottom: 50px;
}
.section3 .select-container .select-buttons :nth-child(1) {
  background: #171a20;
  color: rgb(255, 255, 255);
  margin-right: 15px;
}
.section3 .select-container .select-buttons button {
  width: 230px;
  font-size: 0.85rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.section4 {
  background: url(/assets/img/model-y.jpg) center/cover;
  height: 100vh;
  padding-top: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
}
.section4 h2 {
  font-size: 2.5rem;
  font-weight: 100;
}
.section4 p {
  font-size: 0.9rem;
}
.section4 p a {
  color: #171a20;
}
.section4 .select-container {
  position: absolute;
  bottom: 50px;
}
.section4 .select-container .select-buttons :nth-child(1) {
  background: #171a20;
  color: rgb(255, 255, 255);
  margin-right: 15px;
}
.section4 .select-container .select-buttons button {
  width: 230px;
  font-size: 0.85rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.section4 .select-container p {
  font-size: 0.7rem;
  margin-top: 10px;
}
.section4 .select-container p a {
  color: #171a20;
}

.section5 {
  background: url(/assets/img/discover.jpg) center/cover;
  height: 100vh;
  padding-top: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
}
.section5 h2 {
  font-size: 2.5rem;
  font-weight: 100;
}
.section5 p {
  font-size: 0.9rem;
  color: #171a20;
}
.section5 button {
  position: absolute;
  bottom: 50px;
  background: none;
  width: 100px;
  font-size: 0.85rem;
  padding: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  color: rgb(255, 255, 255);
}

.section6 {
  background: url(/assets/img/house.jpg) center/cover;
  height: 100vh;
  padding-top: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
}
.section6 .tittle h2 {
  font-size: 2.5rem;
  font-weight: 100;
}
.section6 .tittle p {
  font-size: 0.9rem;
  font-weight: 100;
}
.section6 button {
  background: rgba(23, 26, 32, 0.7215686275);
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 50px;
  width: 180px;
  font-size: 0.85rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.section7 {
  background: url(/assets/img/wall-connector4.jpg) center/cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
}
.section7::after {
  position: absolute;
  content: "Pensez à covoiturer #SeDéplacerMoinsPolluer";
  left: 20px;
  bottom: 0;
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
}
.section7 h2 {
  font-size: 2.5rem;
  padding-top: 70px;
}
.section7 button {
  position: absolute;
  bottom: 50px;
  background: rgb(255, 255, 255);
  width: 230px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #171a20;
}
.section7 .footer {
  position: absolute;
  font-size: 0.7rem;
  color: rgb(255, 255, 255);
  bottom: 0;
  width: 40%;
}
.section7 .footer .nav-elements {
  position: relative;
}
.section7 .footer .nav-elements ul {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=index.css.map */