@font-face {
  font-family: gotham;
  src: url(/assets/fonts/GothamSSm-Medium\(8\).otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "gotham";
}

li {
  list-style: none;
}

body {
  text-align: center;
}

.scroller {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

header {
  background: url(/assets/img/model-3.jpg) center/cover;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
}
header .fixed-menu {
  width: 100%;
  padding: 20px 50px 0;
  position: fixed;
  z-index: 1000;
}
header .fixed-menu nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
header .fixed-menu nav img {
  width: 100px;
  float: left;
  cursor: pointer;
}
header .fixed-menu nav .nav-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
header .fixed-menu nav .nav-elements li {
  font-size: 0.9rem;
  cursor: pointer;
}
header .fixed-menu nav .nav-elements li:hover {
  border-bottom: 1px solid #171a20;
}
header .fixed-menu nav .nav-icon {
  text-align: right;
}
header .fixed-menu nav .nav-icon i {
  padding-right: 5px;
  font-size: 1.1rem;
  transition: 0.2s;
}
header .fixed-menu nav .nav-icon i:hover {
  transform: scale(1.2);
}
header .section1 {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .section1 h2 {
  font-size: 2.5rem;
  font-weight: 100;
}
header .section1 .select-container {
  position: absolute;
  bottom: 20px;
}
header .section1 .select-container .select-buttons :nth-child(1) {
  background: #171a20;
  color: rgb(255, 255, 255);
  margin-right: 15px;
}
header .section1 .select-container .select-buttons button {
  width: 230px;
  font-size: 0.85rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
header .section1 .select-container p {
  font-size: 0.7rem;
  margin-top: 10px;
}
header .section1 .select-container p a {
  color: rgb(255, 255, 255);
}

.section2 {
  background: url(/assets/img/model-y.jpg) center/cover;
  height: 100vh;
  padding-top: 70px;
  position: relative;
  display: flex;
  justify-content: center;
}
.section2 .model-y h2 {
  font-size: 2.5rem;
  font-weight: 100;
}
.section2 .model-y p {
  font-size: 0.9rem;
}
.section2 .model-y p a {
  color: #171a20;
}
.section2 .select-container {
  position: absolute;
  bottom: 20px;
}
.section2 .select-container .select-buttons :nth-child(1) {
  background: #171a20;
  color: rgb(255, 255, 255);
  margin-right: 15px;
}
.section2 .select-container .select-buttons button {
  width: 230px;
  font-size: 0.85rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.section2 .select-container p {
  font-size: 0.7rem;
  margin-top: 10px;
}
.section2 .select-container p a {
  color: #171a20;
}

.section3 {
  background: url(/assets/img/model-s.jpg) center/cover;
  height: 100vh;
  padding-top: 70px;
  position: relative;
  display: flex;
  justify-content: center;
}
.section3 .model-s h2 {
  font-size: 2.5rem;
  font-weight: 100;
}
.section3 .model-s p {
  font-size: 0.9rem;
}
.section3 .model-s p a {
  color: #171a20;
}
.section3 .select-container {
  position: absolute;
  bottom: 20px;
}
.section3 .select-container .select-buttons :nth-child(1) {
  background: #171a20;
  color: rgb(255, 255, 255);
  margin-right: 15px;
}
.section3 .select-container .select-buttons button {
  width: 230px;
  font-size: 0.85rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.section4 {
  background: url(/assets/img/model-y.jpg) center/cover;
  height: 100vh;
  padding-top: 70px;
  position: relative;
  display: flex;
  justify-content: center;
}
.section4 h2 {
  font-size: 2.5rem;
  font-weight: 100;
}
.section4 p {
  font-size: 0.9rem;
}
.section4 p a {
  color: #171a20;
}
.section4 .select-container {
  position: absolute;
  bottom: 20px;
}
.section4 .select-container .select-buttons :nth-child(1) {
  background: #171a20;
  color: rgb(255, 255, 255);
  margin-right: 15px;
}
.section4 .select-container .select-buttons button {
  width: 230px;
  font-size: 0.85rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.section4 .select-container p {
  font-size: 0.7rem;
  margin-top: 10px;
}
.section4 .select-container p a {
  color: #171a20;
}/*# sourceMappingURL=index.css.map */